<h1>Payment Results</h1>

<div>
  <h6>APR</h6>
</div>
<div>
  <%= @apr %>
</div>

<div>
  <h6>Number of years</h6>
</div>
<div>
  <%= @years %>
</div>

<div>
  <h6>Principal</h6>
</div>
<div>
  <%= @principal %>
</div>

<div>
  <h6>Payment</h6>
</div>
<div>
  <%= @payment %>
</div>
